.App {
  /* margin: 0 auto; */
  text-align: center;
  display: grid;
  grid-template-rows: 100px repeat(5, auto);
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  grid-row: 1/2;
  grid-column: 1/-1;
  text-align: center;
  border-top: 5px solid #fc4c02;
}

.searchForm {
  grid-row: 2/3;
  grid-column: 1/-1;
  padding: 5px;
}

.input {
  max-width: 300px;
}

#searchAll {
  margin-right: 5px;
}

.btn {
  margin: 5px;
}

.topButtonDiv {
  box-sizing: border-box;
  position: sticky;
  top: 12rem;
  right: 1rem;
  bottom: 0;
  z-index: 1;
  opacity: 1;
}

#topBtn {
  position: sticky;
  top: 12rem;
  right: 1rem;
  bottom: 0;
  z-index: 1;
  opacity: 1;
  float: right;
}

.hide {
  display: none;
}


/* mobile */

.resultsDiv {
  /* in App */
  grid-row: 3/4;
  grid-column: repeat(6, auto);
  /* in resultsDiv */
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(5, auto);
}

.singleResult {
  grid-row: 1/2;
  grid-column: 1/2;
  border: 1px solid black;
}

.form-select {
  max-width: 175px;
  display: inline;
}

